{% extends "base.html" %}

{% block title %}
  Saiba mais nosso Blog | {{ block.super }}
{% endblock %}

{% block body %}
  <h1> Sobre nos</h1>
  <p>
    SOMOS OS MELHORES PROGRAMADORES DO BRASIL... VAMOS PRA ALEMANHA.
    SOMOS OS MELHORES PROGRAMADORES DO BRASIL... VAMOS PRA ALEMANHA.
    SOMOS OS MELHORES PROGRAMADORES DO BRASIL... VAMOS PRA ALEMANHA.
    SOMOS OS MELHORES PROGRAMADORES DO BRASIL... VAMOS PRA ALEMANHA.
    SOMOS OS MELHORES PROGRAMADORES DO BRASIL... VAMOS PRA ALEMANHA.
  </P>
{% endblock %}
