{% extends "base.html" %}

{% block body %}
<div class = "row">
  <div class = "col s12 m8">
    {% for p in posts %}
      <h4>{{ p.titulo}}</h4>
      <p>
      {{ p.conteudo|safe|truncatewords:40 }}
      <span><a href="#">Continue lendo</a></span>
    </p>
    {% endfor %}
  </div>
    <div class = "col s8 m4">
      <h4>Sobre mim</h4>
      <p>
        sou eu sou eu sou eu
        sou eu sou eu sou eu
        sou eu sou eu sou eu
        sou eu sou eu sou eu
        sou eu sou eu sou eu
      </p>
    </div>
{% endblock %}
