{% extends "base.html" %}

{% block body %}
<div class = "row">
  <div class = "col s12 m8">
Grave problema presente no Brasil é o baixo nível cultural da população devido à falta de leitura de boa qualidade. Segundo o Pisa (Programa internacional de avaliação de alunos), que verifica a capacidade de leitura do jovem, dentre os 32 países envolvidos na pesquisa de 2001, o nosso ficou com a última colocação.
  Um dos fatores que provocam a falta de domínio da leitura na avaliação brasileira é a escassez de livrarias: apenas uma para cada 84,4 mil habitantes. Porém, essa não é a única razão: o brasileiro prefere ler futilidades que pouco ou nada acrescentam ao seu intelecto a se dedicar aos grandes nomes da literatura.
  Os políticos tentam suavizar a situação do semi-analfabetismo gerada pela falta de leitura com o discurso de que é perfeitamente normal que algumas pessoas alcancem o final do ensino médio sem saber expressar suas idéias por meio da escrita. Obviamente, é “perfeitamente norma”, visto que o sistema de repetência foi indevidamente abolido nas escolas públicas.
  É imprescindível que a leitura no Brasil seja estimulada desde a infância e que o sistema de ensino sofra uma revisão. Nossa nação não pode aspirar ao desenvolvimento tendo tão deficiente capital humano.
    </div>

    <div class = "col s8 m4">
Grave problema presente no Brasil é o baixo nível cultural da população devido à falta de leitura de boa qualidade. Segundo o Pisa (Programa internacional de avaliação de alunos), que verifica a capacidade de leitura do jovem, dentre os 32 países envolvidos na pesquisa de 2001, o nosso ficou com a última colocação.
  Um dos fatores que provocam a falta de domínio da leitura na avaliação brasileira é a escassez de livrarias: apenas uma para cada 84,4 mil habitantes. Porém, essa não é a única razão: o brasileiro prefere ler futilidades que pouco ou nada acrescentam ao seu intelecto a se dedicar aos grandes nomes da literatura.
  Os políticos tentam suavizar a situação do semi-analfabetismo gerada pela falta de leitura com o discurso de que é perfeitamente normal que algumas pessoas alcancem o final do ensino médio sem saber expressar suas idéias por meio da escrita. Obviamente, é “perfeitamente norma”, visto que o sistema de repetência foi indevidamente abolido nas escolas públicas.
  É imprescindível que a leitura no Brasil seja estimulada desde a infância e que o sistema de ensino sofra uma revisão. Nossa nação não pode aspirar ao desenvolvimento tendo tão deficiente capital humano.
    </div>
{% endblock body %}
